
div.evaluate{
    width: 950px;
    font-size: 0;
}
    ul.evaluate-cont {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    ul.evaluate-cont > li {
        display: inline-block;
        vertical-align: top;
    }
    ul.evaluate-cont > li:nth-child(1){
        padding-left: 20px;
        padding-right: 20px;
    }
    ul.evaluate-cont > li:nth-child(2){
        height: 180px;
        width: 280px;
        background: #bfbfbf;
    }
        ul.evaluate-cont > li > h6 {
            margin-bottom: 20px;
            line-height: 20px;
            font-size: 12px;
        }