
div.my-study {
    /* padding: 60px 20px; */
}
    ul.my-study-list {
        width: 980px;
        margin: 40px auto 0px;
    }
        ul.my-study-list > li:not(:last-child){
            margin-bottom: 20px;
        }

    div.my-study ul.home-paging {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
    }
        