

    li.my-collection-item {
        height: 200px;
        padding: 20px 15px;
        border: 1px solid #f39e09;
        overflow: hidden;
    }
        li.my-collection-item > div {
            float: left;
            height: 100%;
        }
        li.my-collection-item > div:nth-child(1){
            width: 260px;
            height: 160px;
            border-radius: 5px;
        }
        div.my-collection-text {
            padding-left: 25px;
            width: 570px;
            padding-top: 10px;
        }
            div.my-collection-text > h5 {
                line-height: 25px;
            }
            div.my-collection-text > h5:nth-of-type(2) {
                color: #f39e09;
            }
                div.my-collection-text > h5 > i {
                    font-size: 18px;
                    margin-right: 5px;
                }
            div.my-collection-text > h3 {
                line-height: 30px;
                color: #f36709;
            }
                div.my-collection-text > h3 > span {
                    font-size: 14px;
                }
            div.my-collection-text > h6 {
                line-height: 20px;
                color: #666;
            }
            div.my-collection-text > h6.time {
                letter-spacing: 3px;
            }
        div.my-collection-inter {
            width: 100px;
        }
            div.my-collection-inter button {
                height: 30px;
                border-radius: 5px;
                font-size: 12px;
                width: 100%;
                display: block;
                margin-top: 60px;
                color: #FFF;
                background-color: #f39e09;
            }
            div.my-collection-inter button.finish {
                background-color: #666;
                color: #FFF;
                cursor: not-allowed;
            }