

section.about-idea {
    height: 400px;
    background-image: url('../../img/about-idea.png');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}
    section.about-idea > h3 {
        color: #FFF;
        font-size: 18px;
        width: 975px;
        line-height: 30px;
        margin: 0px auto;
        position: relative;
        padding-top: 180px;
        text-align: center;
    }
    section.about-idea > h3::before {
        content: "";
        position: absolute;
        top: 120px;
        left: 287px;
        height: 1px;
        width: 400px;
        background-color: #FFF;
    }