

    li.course-item {
        display: inline-block;
        width: 250px;
        height: 300px;
        margin-bottom: 35px;
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid #c2c2c2;
    }
    li.course-item:hover {
        box-shadow: 0px 0px 10px #c2c2c2;
    }
    li.course-item:not(:nth-child(4n)){
        margin-right: 66.6px;
    }
    li.course-item div {
        height: 180px;
        background-color: #bfbfbf;
        position: relative;
    }
        li.course-item div > img {
            width: 100%;
            height: 100%;
        }
        li.course-item div > span {
            font-size: 16px;
            color: #fa5c31;
            position: absolute;
            bottom: 15px;
            right: 15px;
            display: inline-block;
            width: 30px;
            height: 20px;
        }
        li.course-item div > span::after {
            content: "";
            position: absolute;
            top: 0px;
            left: -30px;
            width: 20px;
            height: 20px;
            background-image: url('../../img/stars.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }


    li.course-item aside {
        height: 120px;
        background-color: #FFF;
        padding: 15px;
        position: relative;
    }
        li.course-item aside > h4 {
            line-height: 40px;
            font-size: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        li.course-item aside > h5 {
            line-height: 15px;
            font-size: 14px;
            color: #666;
        }
        li.course-item aside > h5:first-of-type {
            padding-bottom: 10px;
        }
        li.course-item aside > h5:nth-of-type(2) > b {
            color: #fa5c31;
        }