section.home-advantage {
    background-color: #fcfcfc;
    height: 665px;
}
    ul.home-advantage-list {
        padding-top: 105px;
    }
        ul.home-advantage-list > li {
            float: left;
            width: 277px;
            height: 280px;
            border: 1px solid #f39e09;
            margin-right: 30px;
            text-align: center;
            padding: 0px 30px;
        }
        ul.home-advantage-list > li:last-child {
            margin-right: 0;
        }
            ul.home-advantage-list > li > div {
                width: 80px;
                height: 80px;
                /* background-image: url('../img/home_advantage_1.png');
                background-position: center; */
                margin: 30px auto;
            }
            ul.home-advantage-list > li > h2 {
                padding-bottom: 10px;
            }
            ul.home-advantage-list > li > h4 {
                font-size: 14px;
                color: #666;
            }
        ul.home-advantage-list > li:hover {
            background-color: #f39e09;
            color: #FFF;
        }
            ul.home-advantage-list > li:hover > h4 {
                color: #FFF;
            }