ul.mechanism-list {
    font-size: 0;
    min-height: 300px;
}
    ul.mechanism-list > li {
        display: inline-block;
        width: 250px;
        height: 300px;
        margin-bottom: 35px;
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid #c2c2c2;
    }
    ul.mechanism-list > li:hover {
        box-shadow: 0px 0px 10px #c2c2c2;
    }
    ul.mechanism-list > li:not(:nth-child(4n)){
        margin-right: 66.6px;
    }
    ul.mechanism-list > li div {
        height: 180px;
        background-color: #bfbfbf;
        position: relative;
    }
        ul.mechanism-list > li div > span {
            background-color: #4c4c4c;
            width: 90px;
            line-height: 30px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            position: absolute;
            left: 0px;
            top: 12px;
            font-size: 12px;
            color: #fa5c31;
            text-align: center;
        }
    ul.mechanism-list > li aside {
        height: 120px;
        background-color: #FFF;
        padding: 15px;
        position: relative;
    }
        ul.mechanism-list > li aside > h4 {
            line-height: 40px;
            font-size: 16px;
        }
        ul.mechanism-list > li aside > h5 {
            line-height: 25px;
            font-size: 14px;
            color: #666;
        }
        ul.mechanism-list > li aside > span {
            font-size: 16px;
            color: #fa5c31;
            position: absolute;
            top: 15px;
            right: 15px;
        }
            ul.mechanism-list > li aside > span > i {
                font-size: 20px;
                margin-right: 5px;
                color: #7d7d7d;
            }
        /* ul.mechanism-list > li aside > span::after {
            content: "";
            position: absolute;
            top: 0px;
            left: -30px;
            width: 20px;
            height: 20px;
            background-image: url('../../img/fabulous.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        } */