
div.curriculum {
    width: 870px;
    padding-bottom: 60px;
}
    div.curriculum > h4 {
        width: 100%;
        line-height: 40px;
        color: #f39e09;
        padding-left: 20px;
        border-left: 2px solid #f39e09;
        border-bottom: 1px solid #c2c2c2;
        position: relative;
        font-size: 14px;
        margin-top: 40px;
    }
        div.curriculum > h4 > span {
            position: absolute;
            top: 0px;
            right: 0px;
            display: block;
            line-height: 40px;
            width: 90px;
            color: #666;
        }

    ul.curriculum-list {
        font-size: 0;
    }
        ul.curriculum-list > li {
            display: inline-block;
            vertical-align: top;
            margin-top: 30px;
        }
        ul.curriculum-list > li:not(:nth-child(4n)){
            margin-right: 23.3px;
        }