
div.mechanism-teachers {
    width: 870px;
}
    div.mechanism-teachers > h4 {
        width: 100%;
        line-height: 40px;
        color: #f39e09;
        padding-left: 20px;
        border-left: 2px solid #f39e09;
        border-bottom: 1px solid #c2c2c2;
        position: relative;
        font-size: 14px;
        margin-top: 40px;
    }
        div.mechanism-teachers > h4 > span {
            position: absolute;
            top: 0px;
            right: 0px;
            display: block;
            line-height: 40px;
            width: 90px;
            color: #666;
        }
    ul.mechanism-teachers-list {
        font-size: 0;
        padding-bottom: 50px;
    }
        ul.mechanism-teachers-list > li {
            display: inline-block;
            vertical-align: top;
            margin-top: 30px;
        }
        ul.mechanism-teachers-list > li:not(:nth-child(4n)){
            margin-right: 23.3px;
        }

        h5.item-title {
            height : 40px;
            border-left : 2px solid #f39e09;
            color : #f39e09;
            border-bottom : 1px solid #c2c2c2;
            padding-left : 20px;
            line-height : 40px;
            font-size : 14px;
            position: relative;
        }
            h5.item-title > a {
                display: block;
                height: 100%;
                width: 80px;
                color: #666;
                line-height: 40px;
                font-size: 16px;
                text-align: center;
                position: absolute;
                top: 0px;
                right: 0px;
            }