
div.text-container {
    background-color: #eee;
    width: 870px;
    height: 440px;
    padding: 20px;
    position: relative;
}
    div.text-container > header {
        width: 480px;
    }
        div.text-container > header > * {
            display: inline-block;
            vertical-align: top;
            height: 40px;
            line-height: 40px;
            text-align: center;
        }
        div.text-container > header > h1 {
            display: inline-block;
            color: #f39e09;
            font-size: 24px;
            line-height: 40px;
        }
        div.text-container > header > h3 {
            width: 100px;
            color: #666;
            font-size: 14px;
        }
        div.text-container > header > h4 {
            float: right;
            width: 100px;
        }
            div.text-container > header i {
                font-size: 25px;
                margin-right: 8px;
            }
            div.text-container > header > h4 i {
                color: #f39e09;
            }
    div.text-container > aside {
        background: #7d7d7d;
        width: 300px;
        height: 190px;
        position: absolute;
        top: 27px;
        right: 20px;
    }
    table.text-item {
        border-collapse:separate;
        border-spacing:0px 15px;
    }
    table.text-item  tr > th {
        width: 80px;
        vertical-align: top;
        font-size: 14px;
        text-align: left;
        line-height: 25px;
    }
        table.text-item  tr > td {
            line-height: 25px;
            vertical-align: top;
        }
        table.text-item  tr > td:nth-of-type(1) {
            width: 400px;
            font-size: 12px;
            color: #666;
        }